@import "../../mixins";

.chart {
  margin-block: 1.5rem;
  padding-block: 1.5rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.75rem;
  border-bottom: 2px solid var(--color-cream);

  & .bar-grid {
    display: grid;
    grid-template-rows: 1fr min-content;
    gap: 0.75rem;

    .legend {
      text-align: center;
      letter-spacing: -0.4px;
    }

    .bar-container {
      height: 9.375rem;
      display: flex;
      align-items: flex-end;

      .bar {
        width: 100%;
        border-radius: 0.125rem;
      }
    }
  }

  @include breakpoint($first) {
    margin-block: 2rem;
    padding-block: 2rem;
    gap: 1.125rem;

    & .bar-grid {
      gap: 0.5rem;

      .bar-container .bar {
        border-radius: 0.25rem;
      }
    }
  }
}
