@import "../../mixins";

.chart {
  margin-block: 1.5rem;
  padding-block: 1.5rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.75rem;
  border-bottom: 2px solid var(--color-cream);

  & .bar-grid {
    display: grid;
    grid-template-rows: 1fr min-content;
    gap: 0.75rem;

    .legend {
      text-align: center;
      letter-spacing: -0.4px;
      color: var(--color-medium-brown);
    }

    .bar-container {
      height: 9.375rem;
      display: flex;
      align-items: flex-end;

      .bar {
        width: 100%;
        border-radius: 0.125rem;
        background-color: var(--color-soft-red);
      }

      .today {
        background-color: var(--color-cyan);
      }

      .bar,
      .today {
        span {
          display: none;
        }
      }
    }
  }

  @include breakpoint($first) {
    margin-block: 2rem;
    padding-block: 2rem;
    gap: 1.125rem;

    & .bar-grid {
      gap: 0.5rem;

      .bar-container .bar {
        border-radius: 0.25rem;
        position: relative;
        cursor: pointer;

        & span {
          display: block;
          position: absolute;
          z-index: 10;
          bottom: 100%;
          left: 50%;
          transform: translateX(-50%);
          padding: 0.5rem;
          border-radius: 0.25rem;
          background-color: var(--color-dark-brown);
          color: var(--color-very-pale-orange);
          font-weight: 700;
          opacity: 0;
          transition: bottom 100ms ease-in-out, opacity 100ms ease-in-out;
        }

        &:hover {
          background-color: var(--color-soft-red-hover);
          span {
            opacity: 1;
            bottom: calc(100% + 0.5rem);
          }
        }
      }

      .bar-container .today:hover {
        background-color: var(--color-cyan-hover);
      }
    }
  }
}
