@import "./mixins";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-soft-red: hsl(10, 79%, 65%);
  --color-soft-red-hover: hsl(10, 79%, 65%, 0.75);
  --color-cyan: hsl(186, 34%, 60%);
  --color-cyan-hover: hsla(187, 34%, 60%, 0.75);

  --color-dark-brown: hsl(25, 47%, 15%);
  --color-medium-brown: hsl(28, 10%, 53%);
  --color-cream: hsl(27, 66%, 92%);
  --color-very-pale-orange: hsl(33, 100%, 98%);
}

body {
  min-height: 100vh;
  font-family: "DM Sans", sans-serif;
  background-color: var(--color-cream);

  @include breakpoint($first) {
    font-size: 1.125rem;
  }
}
